[submodule "themes/hugo-developer-portfolio"]
	path = themes/hugo-developer-portfolio
	url = https://github.com/samrobbins85/hugo-developer-portfolio
[submodule "public"]
	path = public
	url = https://github.com/sebescudie/sebescudie.github.io.git
	branch = master
