{{ define "main" }}

{{ partial "page-title.html" . }}

<section>
  <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
      <div class="uk-text-large">wanna discuss a project, or simply talk about something?</div>
    </div>
  </div>
  <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
      <div class="uk-text-large uk-text-light">drop me an email!</div>
    </div>
  </div>
  <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
      <div class="uk-text-large uk-text-bold">ping [at] sebescudie.fr</div>
    </div>
  </div>


</section>


{{ end }}